@media screen and (min-width: 768px){

// HEADER

.logo{
	background-repeat: $repeat;
}

.btn{
	margin-left: 85%;
}

.title-page{
	text-align:$center;
	margin-top: $tamano;
}

/*
.scroll{
	text-align: center;
	margin-left: 535px;
	height: 50px;
	margin-top: $tamano; 
}

.arrow{
	text-align: center;
	margin-left: 565px;
	height: 15px;
	margin-top: $tamano;
}

*/


//SECTION 2

.titulo{
	h1{
		padding-top: 50px;
		font-size: 25px;
	}
	p{
		padding-top: 10px;
	}
}


//SECTION 3

.caja{
	padding-right: 20px;
}

//SECTION 4

#fotos-efectos {
	img {
		width: 100%;
		height: auto;
	}
}

.efecto1{
	p{
		color: $color2;
	}
}

.efecto2{
	p{
		color: $color2;
	}
}
.efecto3{
	p{
		color: $color2;
	}
}

.efecto4{
	p{
		color: $color2;
	}
}

//SECTION 5


.titulo{
	h1{
		text-align: center;
		font-size: 80px;
		margin-top: 300px;
		color: $color1;
	}
}

//SECTION 6

.text1, .text2, .text3{
	@include textos;
} 

.text2 .text3{
	@include texd;
}

.fond1{
	@include fondosimg(#FCFBCF);
}

.fond2{
	@include fondosimg(#60DB4B);
}

.fond3{
	@include fondosimg(#FCC0B8);
}

//SECTION 7

.foto4{
	background-image: url(../img/parallax-4.jpg);
	background-repeat: $repeat;
	background-size: 1411px 1000px;
	height: 1000px;
}

.titulo{
	h1{
		text-align: center;
		font-size: 80px;
		margin-top: 300px;
		color: $color1; }
	}

// CAROUSEL

.fa {
	color: $color2;
	zoom: 6; 
}


//SECTION 8 

.lovetea{
	margin-top: $tamano;
	margin-bottom: 100px;
}


/* FOOTER */

.final{
	background-color: #7D7D7A;
	margin-top: 15px;
	height: 100px;
		p{	
		margin-bottom: 25px;
		color: #CCCCC8;
		margin-bottom: 0px;
		margin-left: 100px;
		}
	}
}

// VERSION RESPONSIVE 


//header

header{
	background-image: url(../img/parallax-1.jpg);
	@include datos;
	.tea-lovers{
		padding-top: 50px;
		padding-bottom: 100px;
		margin: 0 auto;
	}
	img{
		padding-top: 50px;
	}
}

//separadores de colores

.caja-verde{
	@include cajitas(#60DB4B);
}

.caja-amarilla{
	@include cajitas(#FCFBCF);	
}

.caja-rosada{
	@include cajitas(#FCC0B8);	
}

//seccion 3

.foto2{
	background-image: url(../img/parallax-3.jpg);
	@include datos;
	color: $color2;		
}

.titulo {
	h1{
		padding-top: 40px;
		text-align: left;
	}
	p{
		padding-top: 15px;
		padding-bottom: 180px;
		text-align: left;
		padding-left: 0px;
		font-size: 18px;
	}
	img{
		padding-top: 50px;
	}
}

.caja{
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center; 
	padding-left: 30px;
	padding-right: 30px;
	h2{
		color: #FCC0B8;	
		font-size: 40px;
	}
	p{
		color: #575656;
	}
}

.foto3{
	background-image: url(../img/parallax-2.jpg);
	@include datos;
		h1{
			color: $color2;
			padding-top: 40px;
			padding-bottom: 180px;
			text-align: left;
		}
		img{
			padding-top: 50px;
			}
		}


.text1, .text2, .text3{
	h1, p, ul{
		text-align: center;
	}
	h1{
		padding-bottom: 40px;
	}
	p{
		padding-bottom: 30px;
	}
	ul{
		padding-top:-30px;
	}
}

.fond1{
	@include fondos(#FCFBCF);	
}

.fond2{
	@include fondos(#60DB4B);
}

.fond3{
	@include fondos(#FCC0B8);	
}

/* FOOTER */

.final{
	width:100%;
	background-color: #7D7D7A;
	p{
		padding-top: 50px;
		padding-bottom: 25px;
		color: #CCCCC8;
		text-align: left;
	}
}



























